 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #wlcm-sec{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #bank-page {
        padding-top: 30px;
        padding-bottom: 30px;

    }
    #bank-page .single h2{
        font-size: 40px;
    }
    #bank-page .single{
        padding: 20px 20px;
        margin-bottom: 10px;
    }
    .form{
        padding: 5px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .depo-cal{
        margin-bottom: 25px;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #wlcm-sec{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #bank-page {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #bank-page .single h2{
        font-size: 40px;
    }
    #bank-page .single{
        padding: 20px 20px;
        margin-bottom: 10px;
    }
    .form{
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .depo-cal{
        margin-bottom: 15px;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #wlcm-sec{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .form{
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #bank-page .single h2{
        font-size: 40px;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #wlcm-sec{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .form{
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #bank-page {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* XX-Large devices (larger desktops) */
@media (max-width: 1400px) {

}